<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Game</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="js/main.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
    <div class = "main">
        <div class = "mainGame"> 
            <div class = "information">
                <h1>Flexbox Game</h1>
                <p>Welcome to my Flexbox Game. In this game, you will try to position the cup to the plate on the right by using the <b><u>justify-content</u></b> property of the Flexbox
                    layout. This game will help you learn the basics of the justify-content property so you can design better and create more dynamic web pages. You can use the
                    justify-content property followed by the values found below:
                </p>
                <ul>
                    <li>
                        <b><u>flex-start:</u></b> Items align to the left side of the container.
                    </li>
                    <li>
                        <b><u>flex-end:</u></b> Items align to the right side of the container.
                    </li>
                    <li>
                        <b><u>center:</u></b> Items align at the center of the container.
                    </li>
                    <li>
                        <b><u>space-between:</u></b> Items display with equal spacing between them.
                    </li>
                    <li>
                        <b><u>space-around:</u></b> Items display with equal spacing around them.
                    </li>
                </ul>
            </div>

            <div class = "input-template">
                <div class = "line-indicator">
                    <ul>
                        <li>
                            1
                        </li>
                        <li>
                            2
                        </li>
                        <li>
                            3
                        </li>
                        <li>
                            4
                        </li>
                        <li>
                            5
                        </li>
                        <li>
                            6
                        </li>
                        <li>
                            7
                        </li>
                        <li>
                            8
                        </li>
                        <li>
                            9
                        </li>
                        <li>
                            10
                        </li>
                        <li>
                            11
                        </li>
                        <li>
                            12
                        </li>
                    </ul>
                </div>
                <div class = "input-information">
                    <p>#Table {</p>
                    <p class = "tab">display: flex;</p>
                    <input  class = "input-main" type = "text">
                    <p>}</p>
                </div>
            </div> 
        </div> 
        
        <div class = "gameCanvas">
    
        </div>
    </div>
</body>
</html>