* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(243, 243, 243, 0.707);
}

.gameCanvas {
    position: absolute;
    right: 50px;
    display: flex;
    width: 60vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    background-image: url(/views/pictures/tabletop.jpg);
    background-repeat: repeat-x;
    background-size: 700px 100%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.40);
}

.mainGame{
    position: absolute;
    left: 50px;
    height: 90vh;
    width: 32vw;
    padding: 20px;
}

.information p{
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
    margin-top: 2%;
}

.information ul{
    margin-top: 2%;
    margin-left: 5%;
}

.information li {
    line-height: 22px;
}

.input-template {
    margin-top: 5%;
    height: 30vh;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.line-indicator{
    height: 100%;
    width: 5%;
    background-color: gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.line-indicator ul {
    list-style-type: none;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 16px;
}

.line-indicator li {
    color: rgb(235, 235, 235);
    line-height: 25px;
}

.input-information {
    width: 95%;
    background-color: rgb(228, 228, 228);
    padding-top: 0.5%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.input-information p {
    line-height: 25px;
    margin-left: 2%;
    color: rgb(114, 114, 114);
}

.tab {
    text-indent: 40px;
}

.input-main {
    margin-left: 40px;
    border: none;
    height: 25px;
    font-size: 16px;
    text-indent: 10px;
}